html {background:#8a8a8a url(images/bg.jpg) 0 0 no-repeat; background-size:100%; background-attachment:cover;}

h1, h2, h3, h4, h5, h6 { font-weight:normal;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {font-weight:normal; font-family:inherit; text-decoration:none; }
ul, li {list-style:none; margin:0; padding:0;}
a {color:#efefef;}

/* RESPONSIVE LAYOUT */
.content, 
.footer {display:block;width:95%; margin:0 2.5%; }
/* LAYOUT & BROAD STYLES */

.site-header a {text-align:center; border:2px solid #3582df;
  display:block; margin:0; padding:0; position:absolute; right:1em; top:0; width:130px; height:130px; border-radius:50%; overflow:hidden; text-decoration:none; /*text-shadow:0px -1px #333, -1px 1px 5px #333; */letter-spacing:1px; color:#121212;
   /*background:rgba(255,255,255,0.55);*/ background:#fff;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.75), inset 0px 1px 1px rgba(0, 0, 0, 0.75);
     -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.75), inset 0px 1px 1px rgba(0, 0, 0, 0.75);
          box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.75), inset 0px 1px 1px rgba(0, 0, 0, 0.75); 
        } 
.site-header h1 {font-size:1em; position:relative; left:0; top:1em; font-weight:normal; margin:0;}
    .site-header h1 a i,
    .site-header h1 a b {text-transform:lowercase; font-family:georgia,"times new roman",times,serif; font-size:0.75em;font-weight:normal; font-style:italic; letter-spacing:0;}


/* STYLE */
  .wrapper .footer,
  .wrapper .content {padding:2em 0 0.5em;}



.nav {width:100%; position:fixed; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #c7c7c7;
  padding: 10px 14px;
  background: -moz-linear-gradient(
    top,
    #4c4c4c 0%,
    #2a2a2a);
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(#4c4c4c),
    to(#2a2a2a));
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #202020;
  -moz-box-shadow:
    0px 1px 0px rgba(066,066,066,1),
    inset 0px 1px 0px rgba(103,103,103,1);
  -webkit-box-shadow:
    0px 1px 0px rgba(066,066,066,1),
    inset 0px 1px 0px rgba(103,103,103,1);
  box-shadow:
    0px 1px 0px rgba(066,066,066,1),
    inset 0px 1px 0px rgba(103,103,103,1);
  text-shadow:
    0px -1px 0px rgba(028,028,028,1),
    0px 0px 0px rgba(255,255,255,0);
}
.nav li {display:inline-block; margin-right:1em;}
.nav li a {display:block; line-height:30px; color:#efefef; text-decoration:none; 
}

.wrong {background:red; color:#fff;}

html {}

a,
input[type="submit"] {display: inline-block;
text-decoration: none;
text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
background-color: #3582df;
background-image: -moz-linear-gradient(#45b3f3 0%, #3582df 100%);
background-image: -webkit-linear-gradient(#45b3f3 0%, #3582df 100%);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#45b3f3', endColorstr='#3582df')";
border-radius: 4px;
box-shadow: 0 1px 2px rgba(0,0,0,0.3);
margin: 0 0 10px;
padding: 12px 20px 14px 15px;
font-size: 17px;
-webkit-backface-visibility: hidden;
font-weight: normal;
color: #fff;
}
 
