<h2>New here? Create an account!</h2>
<form id="login" method="post" action="/createAccount">
  <label for="username">Username: <input type="text" name="username" id="username" /></label>
  <br />
  <label for="password">Password: <input type="password" name="password" id="password" /></label>
  <br />
  <input type="submit" value="Create Account" id="submit"/>
</form>
<hr>



