<form id="login" method="#" action="#">
  <label for="username">Username: <input type="text" name="username" id="username" /></label>
  <label for="password">Password: <input type="password" name="password" id="password" /></label>
  <input type="submit" id="submit"/>
</form>

<p><a href="#">Create an Account</a></p>


<hr>

<h2><b>Deck: </b>State Capitols</h2>
<ul class="deck">
  <li class="card">
    <h3>What is the capital of North Carolina?</h3>
    <form action="#" method="#" id="question-form">
      <input type="text" name="answer" id="answer">
      <input type="submit" id="submit">
    </form>
  </li>
</ul><!--.deck-->



