<form id="login" method="#" action="#">
  <label for="username">Username: <input type="text" name="username" id="username" /></label>
  <label for="password">Password: <input type="password" name="password" id="password" /></label>
  <input type="submit" id="submit"/>
</form>

<p><a href="#">Create an Account</a></p>


<hr>



