<div class="post">
<h1>Profile Login</h1>
<form action="/login" method="post">
  <input type="text" placeholder="Username" name="username"/>
  <br />
  <input type="password" placeholder="Password" name="password"/>
  <br />
  <input type="submit" value="Login" />
</form>
</div>
