<form action="/login" method="post">
  <label>Username: <input type="text" placeholder="Username" name="username"/></label>
  <label>Password: <input type="password" placeholder="Password" name="password"/></label>
  <input type="submit" value="Login" />
</form>

